li{
    list-style: none;
    color:black;
 border:1px solid green;
 border-radius: 5px;
 margin-bottom: 2px;
 padding: 5px;
}
h1 {
    fill: transparent;
    background-color: #333;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
  }
  
  text {
    fill: #FF9800;
  }